
<!-- * ------- Navbar --------- * -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://www.620state.com/wp-content/uploads/2016/09/circle-logo-black-white-500.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Add new cocktail', new_cocktail_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</div>

<!-- * ------- Banner --------- * -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.hipwallpaper.com/i/42/81/IgZJpU.jpg);">
  <div class="container">
    <h1>My Cocktails</h1>
  </div>
</div>


<!-- * ------- cards --------- * -->

  <div class="container">
    <div class="row">
      <% @cocktails.each do |c| %>
        <div class="col-sm-4">
          <div class="card-trip">
            <img src="https://cdn.hipwallpaper.com/i/63/2/H6Wpuv.jpg" />
            <div class="card-trip-infos">
              <div>
                <p><%= link_to c.name, cocktail_path(c) %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>





